<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Battle Ship</title>
    <link rel="stylesheet" href="allGames.css">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
</head>

<body>
    <h1>Battle Ship</h1>

    <!--
    <div id="signUp">
        <div id="form">
            <form id="registerForm" onsubmit="return false">
                        <label>Name: <input type="text" name="username"></label>
                <label>Email: <input type="text" name="email"></label>
                <label>Password: <input type="text" name="password"></label>
                <button>Create</button>
                <p class="message">Already Registered?</p>
            </form>
            <form id="login">
                <label>Email: <input type="text" name="email"></label>
                <label>Password: <input type="text" name="password/"></label>
                <button>Login</button>
            </form>
        </div>
    </div>
-->
    <!--    <hr>-->

    <!--
    <form id="logout-form" onsubmit="return false">
        <button>Log out</button>
    </form>
-->
    <!--
     <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    
-->





    <div id="game">
        <div v-if="isLoading">!!!!!!</div>
        <div v-else>
            <!--           <div id="logInAndOut"></div>-->
            <!--
            <div id="signUp">
                <div id="form">
                    <form id="registerForm" onsubmit="return false">
                        <label>Name: <input type="text" name="username"></label>
                        <label>Email: <input type="text" name="email"></label>
                        <label>Password: <input type="text" name="password"></label>
                        <button>Create</button>
                        <p class="message">Already Registered?</p>
                    </form>
                    <form id="login">
                        <label>Email: <input type="text" name="email"></label>
                        <label>Password: <input type="text" name="password/"></label>
                        <button>Login</button>
                    </form>
                </div>
            </div>
-->

            <div class="login" v-if="gameData.isLogin == null">
                <form onsubmit="return false">
                    <label for="email-login">Username</label>
                    <input id="email-login" type="email" required="username" placeholder="email...@" v-model="email">
                    <label for="pass-login">Password</label>
                    <input id="pass-login" type="password" required="current-password" placeholder="password..." v-model="password">
                    <button type="submit" value="Login" v-on:click="loginForm">Login</button>
                </form>

                <div v-if="signIn">
                    <span><strong>If you are new here , please</strong></span> <button v-on:click="showSignin">Register</button>
                </div>

                <div v-else>
                    <button v-on:click="hideSignin">Register</button>
                    <form name="signin-form" id="signin-form" @submit.prevent="getPlayer">
                        <label for="new-email-login">Username</label>
                        <input id="new-email-login" type="email" name="email" placeholder="email...@" v-model="createEmail">
                        <label for="new-pass-login">Password</label>
                        <input id="new-pass-login" type="password" name="password" placeholder="password..." v-model="createPassword">
                        <button type="submit">Sign up</button>
                    </form>
                </div>

            </div>

            <div class="logout" v-else>
                <button type="submit" value="LogOut" v-on:click="logOut">Logout</button>
                <h4>Welcome {{gameData.isLogin.email}} !!</h4>
            </div>

            <p>{{email}}</p>
            <p>{{password}}</p>
            <hr>


            <div v-for="(game, index) in gameData.listOfGames" :key="index">
                <!--                 Game{{game.gameId}}: -->
                <div v-for="(gameP, index) in game.GamePlayers" :key="index">
                    Game{{game.gameId}}:
<!--                     <button style="display: none" type='button' onclick="clickJoin()" id="joinGame">Join New Game</button>
                   -->
                   <button type="submit" value="Login" v-on:click="loginForm">Join</button>
                    <ol>
                        <li>gameID: {{game.gameId}}</li>
                        <li>CreationDate: {{game.CreationDate}}</li>

                        <ul>
                            <li>GamePlayers:
                                <ol>
                                    <li>
                                        GameplayerID: {{gameP.GamePlayerID}}
                                    </li>
                                    <li>
                                        Player:
                                        <br> Email:{{gameP.Player.email}}
                                        <br>
                                        PlayerID: {{gameP.Player.playerID}}
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </ol>
                </div>
            </div>
            <hr>
            <table id="scoresTable">
                <thead>
                    <th>Name</th>
                    <th>Total</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Tied</th>
                </thead>
                <tbody>
                    <tr v-for="(gameScoreData, index) in gameScoreData" :key="index">
                        <td>{{gameScoreData.player}}</td>
                        <td>{{gameScoreData.totalScore}}</td>
                        <td>{{gameScoreData.won}}</td>
                        <td>{{gameScoreData.lost}}</td>
                        <td>{{gameScoreData.tied}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
    <script src="allGames.js"></script>
    <!--    <script src="login.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</body>

</html>
