<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Battle Ship</title>
    <link rel="stylesheet" href="allGames.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <h1>Battle Ship</h1>
    <div id="game">
        <div v-if="isLoading">!!!!!!</div>
        <div v-else>
            <div class="login" v-if="gameData.isLogin == null">
                <div class="input-group col-6 mb-2 mr-sm-2">
                    <!--
  <div class="input-group-prepend">
  </div>
-->
                    <!--                    <label for="email">Username</label>-->
                    <input type="text" class="form-control col-5" placeholder="email...@" aria-label="" aria-describedby="basic-addon1" v-model="email" class="col-2" style="margin-right:3%">
                    <!--                    <label for="pass">Password</label>-->
                    <input type="text" class="form-control col-5" placeholder="password..." aria-label="" aria-describedby="basic-addon1" v-model="password" style="margin-right: 2%">
                    <button type="submit" value="Login" v-on:click="loginForm" class="btn btn-secondary" class="col-2">Login</button>
                </div>
                <!--
<form onsubmit="return false">
    <label for="email-login">Username</label>
    <input id="email-login" type="email" required="username" placeholder="email...@" v-model="email">
    <label for="pass-login">Password</label>
    <input id="pass-login" type="password" required="current-password" placeholder="password..." v-model="password">
    <button type="submit" value="Login" v-on:click="loginForm" class="btn btn-secondary">Login</button>
</form>
-->

                <div v-if="signIn" class="col-4">
                    <span><strong>If you are new here , please</strong></span>
                    <button v-on:click="showSignin" class="btn btn-secondary">Register</button>
                </div>

                <div v-else>

                    <!--
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">@</div>
                        </div>
                        <input type="text" class="form-control" placeholder="email..." aria-label="Input group example" aria-describedby="btnGroupAddon">
                    </div>
-->

                    <button v-on:click="hideSignin" type="button" class="btn btn-secondary">Register</button>
                    <form name="signin-form" id="signin-form" @submit.prevent="getPlayer">
                        <!--                        <label for="email">Username</label>-->
                        <input id="email" type="email" name="email" class="form-control col-2" placeholder="email...@" aria-label="" aria-describedby="basic-addon1" v-model="createEmail">
                        <!--                        <label for="pass">Password</label>-->
                        <input id="pass" type="password" name="password" placeholder="password..." class="form-control col-2" placeholder="email...@" aria-label="" aria-describedby="basic-addon1" v-model="createPassword">
                        <button type="submit" v-on:click="alert" type="button" class="btn btn-secondary">Sign up</button>
                    </form>
                </div>
            </div>



            <div class="logout" v-else>
                <a href="http://localhost:8080/web/allGames.html"><button type="submit" value="LogOut" v-on:click="logOut" type="button" class="btn btn-secondary">Logout</button></a>
                <h4>Welcome {{gameData.isLogin.email}} !!</h4>
                <button v-on:click="createNewGame" type="button" class="btn btn-secondary">New Game</button>

                <p>{{email}}</p>
                <p>{{password}}</p>
            </div>
            <hr>


            <div class="container mt-6">
                <table id="gameListTable" class="table table-striped table-dark ">
                    <thead>
                        <th scope="col">Game</th>
                        <th scope="col">Creation date</th>
                        <th scope="col">GamePlayers</th>
                        <th scope="col">Player</th>
                        <th scope="col">Player ID</th>
                        <th scope="col">Choose game</th>
                        <th scope="col">Join new Game</th>
                    </thead>
                    <tbody v-for="(game, index) in gameData.listOfGames" :key="index">
                        <tr v-for="(gamePlayer, index) in game.GamePlayers" :key="index" scope="row">
                            <td>{{game.gameId}}</td>
                            <td>{{game.CreationDate}}</td>
                            <td>{{gamePlayer.GamePlayerID}}</td>
                            <td>{{gamePlayer.Player.email}}</td>
                            <td>{{gamePlayer.Player.playerID}}</td>
                            <td>
                                <button v-if="gameData.isLogin != null && gameData.isLogin.playerID == gamePlayer.Player.playerID" v-on:click="backToGame(gamePlayer.GamePlayerID)" type="button" class="btn btn-secondary">Back to Game</button>
                            </td>
                            <td>
                                <div v-if="gameData.isLogin != null && checkGamePlayer(game)">
                                    <button v-on:click="joinGame(game.gameId)" type="button" class="btn btn-secondary">Join</button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="container mt-6">
                <table id="scoresTable" class="table table-striped table-dark ">
                    <thead>
                        <th scope="col">Name</th>
                        <th scope="col">Total</th>
                        <th scope="col">Won</th>
                        <th scope="col">Lost</th>
                        <th scope="col">Tied</th>
                    </thead>
                    <tbody>
                        <tr v-for="(gameScoreData, index) in gameScoreData" :key="index" scope="row">
                            <td>{{gameScoreData.player}}</td>
                            <td>{{gameScoreData.totalScore}}</td>
                            <td>{{gameScoreData.won}}</td>
                            <td>{{gameScoreData.lost}}</td>
                            <td>{{gameScoreData.tied}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="allGames.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
