<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Battle Ship</title>
    <link rel="stylesheet" href="allGames.css">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
</head>

<body>
    <h1>Battle Ship</h1>
    <div id="game">
        <div v-if="isLoading">!!!!!!</div>
        <div v-else>
            <div class="login" v-if="gameData.isLogin == null">
                <form onsubmit="return false">
                    <label for="email-login">Username</label>
                    <input id="email-login" type="email" required="username" placeholder="email...@" v-model="email">
                    <label for="pass-login">Password</label>
                    <input id="pass-login" type="password" required="current-password" placeholder="password..." v-model="password">
                    <button type="submit" value="Login" v-on:click="loginForm">Login</button>
                </form>

                <div v-if="signIn">
                    <span><strong>If you are new here , please</strong></span> <button v-on:click="showSignin">Register</button>

                </div>
                <div v-else>
                    <button v-on:click="hideSignin">Register</button>
                    <form name="signin-form" id="signin-form" @submit.prevent="getPlayer">
                        <label for="email-login">Username</label>
                        <input id="email-login" type="email" name="email" placeholder="email...@" v-model="createEmail">
                        <label for="pass-login">Password</label>
                        <input id="pass-login" type="password" name="password" placeholder="password..." v-model="createPassword">
                        <button type="submit">Sign up</button>
                    </form>
                </div>
            </div>

            <div class="logout" v-else>
                <button type="submit" value="LogOut" v-on:click="logOut">Logout</button>
                <h4>Welcome {{gameData.isLogin.email}} !!</h4>
                <p>{{email}}</p>
                <p>{{password}}</p>
                <hr>
            </div>
            <div v-for="(game, index) in gameData.listOfGames" :key="index">
                <p>Game{{game.gameId}}:</p>
                <p>gameID: {{game.gameId}}</p>
                <p>CreationDate: {{game.CreationDate}}</p>
                <p>GamePlayers:</p>

                <div v-for="(gamePlayer, index) in game.GamePlayers" :key="index">
                    <div v-if="gameData.isLogin != null && gameData.isLogin.playerID == gamePlayer.Player.playerID">
                        <a :href=`game.html?gp=${gamePlayer.GamePlayerID}`> <button>Info to url: {{gamePlayer.GamePlayerID}}</button></a>
                    </div>
                    <p>GameplayerID: {{gamePlayer.GamePlayerID}}</p>
                    <p>Player:</p>
                    <p>Email:{{gamePlayer.Player.email}}</p>
                    <p>PlayerID: {{gamePlayer.Player.playerID}}</p>
                    <br>
                </div>
            </div>
            <hr>

            <table id="scoresTable">
                <thead>
                    <th>Name</th>
                    <th>Total</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Tied</th>
                </thead>
                <tbody>
                    <tr v-for="(gameScoreData, index) in gameScoreData" :key="index">
                        <td>{{gameScoreData.player}}</td>
                        <td>{{gameScoreData.totalScore}}</td>
                        <td>{{gameScoreData.won}}</td>
                        <td>{{gameScoreData.lost}}</td>
                        <td>{{gameScoreData.tied}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="allGames.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</body>

</html>
