<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ship Locations!</title>
    <link rel="stylesheet" href="game.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div v-if="isLoading"></div>
    <div v-else id="eachGame">
        <h1>Let's battle!</h1>
        <a href="http://localhost:8080/web/allGames.html">
            <button type="submit" value="LogOut" v-on:click="logOut" class="btn btn-secondary">Logout</button>
        </a>

        <button v-on:click="placeShip" type="button" class="btn btn-secondary">place ship</button>

        <a href="http://localhost:8080/web/allGames.html">
            <button type="submit" value="LogOut" class="btn btn-secondary">back to home page</button>
        </a>
        <h3>{{localPlayer}}(YOU!!!) vs. {{opponentPlayer}}</h3>
        <h5>{{gameViewData.created}}</h5>



        <h3>My ships Table</h3>
        <table id="shipTable">
        </table>

        <div id="ships-and-direction" class="col-12 col-sm-12 col-md-6">
            <h3 class="titleTxt-color">Ships to add</h3>
            <p>{{placedShip}}</p>
            <p>{{shipOrientation}}</p>
            <div class="table-responsive mt-2">
                <!--                <div class="table-responsive">-->
                <table class="table table-bordered table-style">
                    <tr>
                        <th>Type</th>
                    </tr>
                    <tr>
                        <td><input class="btn btn-warning btn-lg" type="button" v-on:click="showShipType(this.event)" value="carrier" name="ship" id="carrier" data-shiptype="carrier" data-shiplength="5"></td>
                    </tr>
                    <tr>
                        <td><input class="btn btn-warning btn-lg" type="button"  v-on:click="showShipType(this.event)" value="battleship" name="ship" id="battleship" data-shiptype="battleship" data-shiplength="4"></td>
                    </tr>
                    <tr>
                        <td><input class="btn btn-warning btn-lg" type="button"  v-on:click="showShipType(this.event)"  value="submarine" name="ship" id="submarine" data-shiptype="submarine" data-shiplength="3"></td>
                    </tr>
                    <tr>
                        <td><input class="btn btn-warning btn-lg" type="button" v-on:click="showShipType(this.event)"value="destroyer" name="ship" id="destroyer" data-shiptype="destroyer" data-shiplength="3"></td>
                    </tr>
                    <tr>
                        <td><input class="btn btn-warning btn-lg" type="button" v-on:click="showShipType(this.event)" value="patrol" name="ship" id="patrol" data-shiptype="patral" data-shiplength="2"> </td>
                    </tr>
                    <tr>
                        <th>Direction</th>
                    </tr>

                    <tr>
                        <td colspan="3" class="text-left">
                            <label class="row" style="padding: 0px 10px;align-items: center"><input v-model="shipOrientation" name="direction" value="horizontal" type="radio" class="col-2 col-lg-1">Horizontal</label>
                            <label class="row" style="padding: 0px 10px;align-items: center"><input v-model="shipOrientation" name="direction" value="vertical" type="radio" class="col-2 col-lg-1">Vertical</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button v-on:click="placeShip" type="button" class="btn btn-secondary btn-md">place ship</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <h3>My salvos Table</h3>
        <table id="salvoTable">
        </table>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="game.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--    <script src="allGames.js"></script>-->
</body>

</html>
