
#shipTable {
    border-collapse: collapse;
    width: 330px;
    height: 330px;
    text-align: center;
/*    margin-bottom: 10%;*/
    /*    background-color: yellow;*/
}

#salvoTable {
    border-collapse: collapse;
    width: 330px;
    height: 330px;
    text-align: center;
    margin-bottom: 10%;
    /*    background-color: yellow;*/
}

#shipTable th {
    height: 28px;
    width: 28px;
    border: 2px grey solid;
    /*    height: 34px;*/
    vertical-align: center;
    text-align: center;
    

}

#salvoTable th {
    height: 28px;
    width: 28px;
    border: 2px grey solid;
    /*    height: 34px;*/
    vertical-align: center;
    text-align: center;


}


#shipTable td {
    border: 2px grey solid;
    /*    height: 34px;*/
    vertical-align: center;
    text-align: center; 
}

#salvoTable td {
    border: 2px grey solid;
    /*    height: 34px;*/
    vertical-align: center;
    text-align: center;

}

.salvo2 {
    border-radius: 50px;
    background-color: green;
}

.ships {
    border-radius: 50px;
    background-color: orange;
}

.salvo3 {
    border-radius: 50px;
    background-color: grey;
}

.hit {
    background-color: red;
}

.carrier {
    height: 30px;
    width: 150px;
}

.battleship {
    height: 30px;
    width: 120px;
}

.submarine {
    height: 30px;
    width: 90px;
}

.destroyer {
    height: 30px;
    width: 90px;
}

.patrol {
    height: 30px;
    width: 60px;
}


.ship_hover{
     border-radius: 50px;
    background-color: dimgrey;
}
.error_hover{
     border-radius: 50px;
    background-color: firebrick;
}

/*
.salvo{
    border-radius: 50px;
    background-color: red;
}
*/
/*
#shipTable td {
   background-color: #7FDBFF;
  transform: rotate(45deg);
}
*/


