<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ship Locations!</title>
    <link rel="stylesheet" href="game.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div v-if="isLoading"></div>
    <div v-else id="eachGame">
        <div class="container ">
            <h1>Let's battle!</h1>
            <a href="http://localhost:8080/web/allGames.html">
                <button type="submit" value="LogOut" v-on:click="logOut" class="btn btn-secondary">Logout</button>
            </a>

            <!--        <button v-on:click="placeShip" type="button" class="btn btn-secondary">place ship</button>-->

            <a href="http://localhost:8080/web/allGames.html">
                <button type="submit" value="LogOut" class="btn btn-secondary">back to home page</button>
            </a>
            <h3>{{localPlayer}}(YOU!!!) vs. {{opponentPlayer}}</h3>
            <h5>{{gameViewData.created}}</h5> 
            <h4>Current Turn : {{turn}}</h4>
            <h4>Game Status : {{findWinnerStatus}}</h4>

            <div class="d-flex flex-row bd-highlight mb-3 d-flex justify-content-center">
                <div class="p-2 bd-highlight">
                    <h3>My ships Table</h3>
                    <table id="shipTable">
                    </table>

                    <div id="ships-and-direction" class="col-12 col-sm-12 col-md-12">
                        <button v-on:click="placeShip" type="button" class="btn btn-secondary btn-md">place ships</button>
                        <div class="table-responsive mt-2">
                            <h3>Ships to choose</h3>
                            <div class="rounded border border-secondary col-8 col-sm-8 col-md-8">
                                <span>You choose : {{placedShip}}</span><br>
                                <span>Direction : {{shipOrientation}}</span>
                            </div>
                            <table class="shipType  table-style">
                                <tr>
                                    <th>Type</th>
                                </tr>
                                <tr>
                                    <td><input class="carrier btn btn-warning btn-md" type="button" v-on:click="showShipType(this.event)" value="carrier" name="ship" id="carrier" data-shiptype="carrier" data-shiplength="5"></td>
                                </tr>
                                <tr>
                                    <td><input class="battleship btn btn-warning btn-md" type="button" v-on:click="showShipType(this.event)" value="battleship" name="ship" id="battleship" data-shiptype="battleship" data-shiplength="4"></td>
                                </tr>
                                <tr>
                                    <td><input class="submarine btn btn-warning btn-md" type="button" v-on:click="showShipType(this.event)" value="submarine" name="ship" id="submarine" data-shiptype="submarine" data-shiplength="3"></td>
                                </tr>
                                <tr>
                                    <td><input class="destroyer btn btn-warning btn-md" type="button" v-on:click="showShipType(this.event)" value="destroyer" name="ship" id="destroyer" data-shiptype="destroyer" data-shiplength="3"></td>
                                </tr>
                                <tr>
                                    <td><input class=" patrol btn btn-warning btn-md" type="button" v-on:click="showShipType(this.event)" value="patrol" name="ship" id="patrol" data-shiptype="patrol" data-shiplength="2"> </td>
                                </tr>
                                <tr>
                                    <th>Direction</th>
                                </tr>

                                <tr>
                                    <td colspan="3" class="text-left">
                                        <label class="row" style="padding: 0px 10px;align-items: center"><input v-model="shipOrientation" name="direction" value="horizontal" type="radio" class="col-2 col-lg-1" style="margin-left: 4%">Horizontal</label>

                                        <label class="row" style="padding: 0px 10px;align-items: center"><input v-model="shipOrientation" name="direction" value="vertical" type="radio" class="col-2 col-lg-1" style="margin-left: 4%">Vertical</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="p-2 bd-highlight ">
                    <h3>My salvos Table</h3>
                    <table id="salvoTable">
                    </table>
                    <button v-on:click="placeSalvo" type="button" class="btn btn-secondary mb-2">place salvos</button>
                    <h3>My hit and Sunk result</h3>
                    <table id="scoresTable" class="table table-striped table-dark ">
                        <thead>
                            <th scope="col">Turn</th>
                            <th scope="col">Shiptype</th>
                            <th scope="col">Hit Location</th>
                            <th scope="col">Hits</th>
                            <th scope="col">Sunk</th>
                        </thead>
                        <tbody v-for="(allHit, index) in localPlayerHit" :key="index">
                            <tr v-for="(oneHit, index) in allHit.hits" :key="index" scope="row">
                                <td>{{allHit.turn}}</td>
                                <td>{{oneHit.hitShipType}}</td>
                                <td>{{oneHit.hitLocation}}</td>
                                <td>{{oneHit.totalHits}}</td>
                                <td>{{allHit.sunkShips}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="game.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--    <script src="allGames.js"></script>-->
</body>

</html>
